<video
  autoplay="true"
  muted="muted"
  width="250"
  id="video-element"
>
    {{!-- <source src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.webm" type="video/webm"> --}}
    <source src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.mp4" type="video/mp4">
    Sorry, your browser doesn't support embedded videos.
</video>

<button
  type="button"
  id="video-play-button"
  {{on "click" this.playVideo}}
>
  Play video
</button>